

.my-range-slidebar{
  width: 80%;
  -webkit-appearance: none;
  height: 10px;
  background: rgb(222, 224, 240);
  border-radius: 5px;
  border: 2px;


}

.my-range-slidebar::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;
  background: blue;
  height: 20px;
  width: 20px;
  border-radius: 70%;
  z-index: 10;


}