.section-cart{
  flex: 1 0 auto;
}

.cart{
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.cart__products{
  flex: 3 0;
  display: flex;
  flex-direction: column;
}

.products__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-lighter);
  padding-top: 1em;
  padding-bottom: 1em;
}

.cart__title{
  font-size: var(--h5);
  font-family: var(--font-secondary);
  line-height: 1.3;
  color: var(--color-heading);
  margin: 0;
}

.cart__pages{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}

.total-cart{
  flex: 1 0;
}

/* Total Cart */

.cart-wrapper{
  flex: 1 0;
}

.total-cart{
  width: 100%;
  top: 2em;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f3f0;
  border-radius: 6px;
  margin-top: 20px;
  padding: 2em;
}

.summary__title{
  margin: 0;
  margin-bottom: 30px;
  font-size: var(--h5);
  font-family: var(--font-secondary);
  line-height: 1.3;
  color: var(--color-heading);
}

.cart__line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-b1);
  font-weight: var(--s-medium);
  font-family: var(--font-secondary);
  color: #292930;
  padding-top: 20px;
  padding-bottom: 20px;
  column-gap: 4em;
}

.cart__line:not(:last-of-type){
  border-bottom: 1px solid;
  border-color: rgba(101,105,115,.2);
}

.cart__line:last-of-type{
  margin-bottom: 20px;
}

.cart__text{
  white-space: nowrap;
}

.promo{
  flex-direction: column;
}

.get-promo{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  column-gap: 4em;
}

.get-promo__expample{
  opacity: 1;
  position: absolute;
  top: -16px;
  right: 15px;
  font-size: 14px;
  color: var(--color-body);
  transition: all 0.3s;
}

.promo__new-code{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.new-code__title{
  font-size: var(--font-size-b1);
  color: var(--color-body);
}

.new-code__button{
  position: relative;
  width: auto;
  min-width: 50px;
  text-align: center;
  outline: none;
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 6px;
  font-size: var(--font-size-b1);
  font-family: var(--font-secondary);
  line-height: var(--line-height-b2);
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px;
  transition: all .3s ease-in-out;
}

.new-code__button:hover{
  top: 1px;
  filter: brightness(0.9);
}

.active-promo{
  border-top: 1px solid;
  border-color: rgba(101,105,115,.2);
  padding-top: 20px;
}

.total__sum{
  font-size: 20px;
  font-weight: var(--s-bold);
  color: var(--color-primary);
}

.old-price{
  text-decoration: line-through;
}

.redirect{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h5);
  padding: 10px 5px;
  margin: 0 10px;
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.3;
  color: var(--color-heading);
  font-weight: 500;
}

.redirect__time{
  margin: 0 3px;
}