.header{
  flex: 0 0 auto;
  width: 100%;
  background-color: var(--color-heading);
  color: var(--color-white);
  font-family: var(--font-primary);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.header__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo{
  cursor: pointer;
}

.logo{
  width: 200px;
  height: 50px;
}

.header__sum{
  padding-top: 0.5em;
  font-size: var(--h3);
  font-family: var(--font-secondary);
  line-height: 1.3;
}

.sum{
  color: var(--color-primary);
}

.cart-image{
  width: 45px;
  height: 45px;
  fill: white;
  padding-left: 0.5em;
  transition: all 0.3s;
}

.cart-image:hover{
  animation-duration: 0.3s;
  animation-name: slidein;
  fill: var(--color-secondary);
}

@keyframes slidein {
  0% {
    transform: rotate(-3deg);
  }

  33%{
    transform: rotate(3deg);
  }

  66%{
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

.header__cart{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__items-quantity{
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color-white);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 19px;
  top: -15px;
  right: -10px;
}

@media (max-width: 1000px) {
  .header__info{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cart-image{
    width: 40px;
    height: 40px;
  }

  .header__items-quantity{
    width: 20px;
    height: 20px;
    top: -10px;
    right: -8px;
  }
}