.footer{
  flex: 0 0 auto;
  width: 100%;
  background-color: var(--color-heading);
  color: var(--color-white);
  box-shadow: 0px -5px 10px 2px rgba(34, 60, 80, 0.2);
}

.footer__info{
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__link, 
.footer__date{
  color: var(--color-white);
}

.footer__link{
  text-decoration: none;
  position: relative;
}

.footer__link::after{
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--color-white);
  position: absolute;
  bottom: -2px;
  right: 0;
  opacity: 0;
  transition: .5s;
}

.footer__link:hover::after{
  width: 100%;
  opacity: 1;
  left: 0;
}

.authors-github{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.3em;
}


.footer__github{
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.footer__rs{
  width: 70px;
}
